{% extends "base.html" %}

{% block main %}

{# マイページを表示させる #}
<h2>マイページ</h2>

{# <div>{{ favorites }}</div> #}
{# forループを使って、 favorites のデータを一つずつ表示させる。#}


<h2>お気に入りした店舗</h2>

{% for favorite in favorites %}
<div>
    <a href="{% url 'restaurant' favorite.restaurant.id %}">{{ favorite.restaurant.name }}</a>
</div>
{% endfor %}


<h2>投稿したレビュー一覧</h2>

{% for review in reviews %}
<div>
    <div>店舗: {{ review.restaurant.name }}</div>
    <div>投稿内容: {{ review.content }}</div>
</div>
{% endfor %}

<h2>予約した店舗一覧</h2>

{# TODO: 予約した店舗をマイページに表示してみる。予約した店舗名、予約日時、予約人数の3つを表示する。 #}

{% for reservation in reservations %}
<div>
    <div>店舗: {{ reservation.restaurant.name }}</div>
    <div>予約日時: {{ reservation.datetime }}</div>
    <div>予約人数: {{ reservation.headcount }}</div>
</div>
{% endfor %}



<h2>有料会員登録</h2>

{# CheckoutView の postメソッドへ行くには？ #}

{% if is_premium %}
    {# すでに有料会員登録した人 #}
    <a href="{% url 'portal' %}">有料会員設定</a>
{% else %}
    {# まだ有料会員登録をしていない人 #}
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="有料会員登録をする">
    </form>
{% endif %}


{% endblock %}